[Desktop Entry]
Name=Waiting Game
Comment=Kinetic Overlay Intelligence
Exec=waiting-game
Icon=waiting-game
Terminal=false
Type=Application
Categories=Game;Utility;
StartupNotify=false
X-GNOME-Autostart-enabled=true
